In [38]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [39]:
import pandas as pd

In [40]:
#### 2 types of data
#Series library

In [41]:
#how to make series using list
ser1= pd.Series([23,34,54,65,68])
ser1

0    23
1    34
2    54
3    65
4    68
dtype: int64

In [44]:
#series using list comprehension
s1= pd.Series([i for i in range(20) if i%2==0])
s1

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [42]:
#index can be given by the user also 
ser2= pd.Series([12,23,45,50],index=[1,2,3,4])
ser2

1    12
2    23
3    45
4    50
dtype: int64

In [45]:
s1

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [46]:
# head function - to access first five elements of series by default or mention in box

In [47]:
s1.head()

0    0
1    2
2    4
3    6
4    8
dtype: int64

In [48]:
s1.head(3)

0    0
1    2
2    4
dtype: int64

In [49]:
#tail function - to access values from last and by default 5

In [50]:
#index by default - positions 
#index given by user - index

In [53]:
# Access elements from series without head - using square bracket(used with both numbers and alphabet) or dot(used with alphabet index only)

In [52]:
s1[:3]

0    0
1    2
2    4
dtype: int64

In [54]:
ser2

1    12
2    23
3    45
4    50
dtype: int64

In [56]:
ser4= pd.Series([12,23,45,60],index=['a','b','c','d'])
ser4

a    12
b    23
c    45
d    60
dtype: int64

In [57]:
ser4.a

np.int64(12)

In [59]:
ser4.a

np.int64(12)

In [62]:
# loc(used for labels given by useror by default) and iloc(index location) function(by default)- to access elements

In [64]:
ser1.loc[1:3]

1    34
2    54
3    65
dtype: int64

In [65]:
ser4

a    12
b    23
c    45
d    60
dtype: int64

In [66]:
ser4.iloc[:3]

a    12
b    23
c    45
dtype: int64

In [67]:
# tells number of rows and columns 
ser4.shape

(4,)

In [71]:
# find maximum value 
ser1.max()

np.int64(68)

In [69]:
#find minimum value 
ser1.min()

np.int64(23)

In [70]:
#find mean of the series 
ser1.mean()

np.float64(48.8)