In [38]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\aaaa\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [39]:
import pandas as pd

In [40]:
#### 2 types of data
#1D data - Series(list and dictionaries)
#2D date - Data frames 
#Series library

In [41]:
#how to make series using list
ser1= pd.Series([23,34,54,65,68])
ser1

0    23
1    34
2    54
3    65
4    68
dtype: int64

In [44]:
#series using list comprehension
s1= pd.Series([i for i in range(20) if i%2==0])
s1

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [42]:
#index can be given by the user also 
ser2= pd.Series([12,23,45,50],index=[1,2,3,4])
ser2

1    12
2    23
3    45
4    50
dtype: int64

In [45]:
s1

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [46]:
# head function - to access first five elements of series by default or mention in box

In [47]:
s1.head()

0    0
1    2
2    4
3    6
4    8
dtype: int64

In [48]:
s1.head(3)

0    0
1    2
2    4
dtype: int64

In [49]:
#tail function - to access values from last and by default 5

In [50]:
#index by default - positions 
#index given by user - index

In [53]:
# Access elements from series without head - using square bracket(used with both numbers and alphabet) or dot(used with alphabet index only)

In [52]:
s1[:3]

0    0
1    2
2    4
dtype: int64

In [54]:
ser2

1    12
2    23
3    45
4    50
dtype: int64

In [56]:
ser4= pd.Series([12,23,45,60],index=['a','b','c','d'])
ser4

a    12
b    23
c    45
d    60
dtype: int64

In [57]:
ser4.a

np.int64(12)

In [59]:
ser4.a

np.int64(12)

In [62]:
# loc(used for labels given by useror by default) and iloc(index location) function(by default)- to access elements

In [64]:
ser1.loc[1:3]

1    34
2    54
3    65
dtype: int64

In [65]:
ser4

a    12
b    23
c    45
d    60
dtype: int64

In [66]:
ser4.iloc[:3]

a    12
b    23
c    45
dtype: int64

In [67]:
# tells number of rows and columns 
ser4.shape

(4,)

In [71]:
# find maximum value 
ser1.max()

np.int64(68)

In [69]:
#find minimum value 
ser1.min()

np.int64(23)

In [70]:
#find mean of the series 
ser1.mean()

np.float64(48.8)

In [1]:
#at -- used to access single element

In [2]:
# series using dictionary

In [13]:
s5= pd.Series({'name':'Mani','marks':10})
s5

name     Mani
marks      10
dtype: object

In [14]:
#conditions on series

In [15]:
s=pd.Series([23,34,67,80,66,54,45,61])
s

0    23
1    34
2    67
3    80
4    66
5    54
6    45
7    61
dtype: int64

In [16]:
s>40 #to check number greater than 40

0    False
1    False
2     True
3     True
4     True
5     True
6     True
7     True
dtype: bool

In [17]:
(s>40) & (s<70)# use two conditions

0    False
1    False
2     True
3    False
4     True
5     True
6     True
7     True
dtype: bool

In [19]:
s[(s>40) & (s<70)] # to print values which are true

2    67
4    66
5    54
6    45
7    61
dtype: int64

In [20]:
s.between(40,70) #  function to check number between 40 and 70

0    False
1    False
2     True
3    False
4     True
5     True
6     True
7     True
dtype: bool

In [21]:
s[s.between(40,70)]

2    67
4    66
5    54
6    45
7    61
dtype: int64

In [24]:
# function - 'is in' -- find the place of a value  and index

In [26]:
s.isin([66])

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [27]:
s[s.isin([66])]

4    66
dtype: int64

In [18]:
# NUMPY IS A LIBRARY WE USE TO FIND NULL VALUES

In [19]:
import numpy as np 
import pandas as pd

In [20]:
s= pd.Series([20,34,np.nan,60,np.nan])
s

0    20.0
1    34.0
2     NaN
3    60.0
4     NaN
dtype: float64

In [21]:
s[s.isnull()] # it returns null values ---- isna() also do the same work

2   NaN
4   NaN
dtype: float64

In [22]:
s.hasnans # it tell does it contain null value or not , only used in series not in data frames

True

In [23]:
# how to fill nan values

In [24]:
s.fillna(2) # to fill nan values we use this function

0    20.0
1    34.0
2     2.0
3    60.0
4     2.0
dtype: float64

In [25]:
s

0    20.0
1    34.0
2     NaN
3    60.0
4     NaN
dtype: float64

In [ ]:
# JE FUNCTION LAUNDE HI  NAAL HI OHDA ANSWER AAJAAVE TAA FER SERIES CH KOI CHANGE NI AAYAA

In [26]:
s7=pd.Series([34,33,21,np.nan])

In [28]:
s7.fillna(12, inplace=True) # inplace is used to make change in the original series and fill the nan place

In [29]:
s7

0    34.0
1    33.0
2    21.0
3    12.0
dtype: float64

In [31]:
age=pd.Series([12,34,56,np.nan,11,57])
age

0    12.0
1    34.0
2    56.0
3     NaN
4    11.0
5    57.0
dtype: float64

In [32]:
age.fillna(age.mean()) #JAD V KOI GROUP DATA DITAA HOVE JIVE KI AGE TAA APAA MEAN VALUE USE KARDE AA

0    12.0
1    34.0
2    56.0
3    34.0
4    11.0
5    57.0
dtype: float64

In [35]:
products=pd.Series(['Footwear','Accessories','Mens wear','Watches',np.nan,'Footwear'])# JAD V EHDA DA DATA HOVE TAA MODE FILL KRAAO SERIES CH
products

0       Footwear
1    Accessories
2      Mens wear
3        Watches
4            NaN
5       Footwear
dtype: object

In [36]:
products.fillna(products.mode()[0]) # 0 PAAYAA KYUNKI DO VALUES MODE AA RHIAA AA SI TAA APAA OHNA CHO IK SELECT KITI FILL KARAN LYI

0       Footwear
1    Accessories
2      Mens wear
3        Watches
4       Footwear
5       Footwear
dtype: object

In [37]:
s7.describe() # Function of series

count     4.000000
mean     25.000000
std      10.488088
min      12.000000
25%      18.750000
50%      27.000000
75%      33.250000
max      34.000000
dtype: float64

In [38]:
products.map({'Footwear':'Shoes'}) # KISI PARTICULAR PLACE TE CHANGE KARDA  PURI SERIES CH TRANSVERSE KARKE AA,  BUT EH ORIGINAL SERIES CH KOI CHANGE NI KAR SAKDA

0    Shoes
1      NaN
2      NaN
3      NaN
4      NaN
5    Shoes
dtype: object

In [43]:
s9=pd.Series([34,56,34,78,90,78,56,10])

In [44]:
s9.unique() # gives unique values as output

array([34, 56, 78, 90, 10])

In [47]:
s9.is_unique  # it gives output true if series only have unique values and false if it contains repeated values

False

In [48]:
s3=pd.Series([33,45,67])
s3.is_unique

True